<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        {% load staticfiles %}

        {% load auth_extras %} 

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="#" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>INRAI</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/static/base/img/inrai/favicon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/base/img/inrai/favicon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/base/img/inrai/favicon.png">
        <link rel="shortcut icon" type="image/x-icon" href="/static/base/img/inrai/favicon.png">
        <!-- Icon css link -->
        <link href="/static/base/vendors/linear-icon/style.css" rel="stylesheet">
        <link href="/static/base/vendors/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="/static/base/vendors/elegant-icon/style.css" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="/static/base/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Rev slider css -->
        <link href="/static/base/vendors/revolution/css/settings.css" rel="stylesheet">
        <link href="/static/base/vendors/revolution/css/layers.css" rel="stylesheet">
        <link href="/static/base/vendors/revolution/css/navigation.css" rel="stylesheet">
        
        <!-- Extra plugin css -->
        <link href="/static/base/vendors/popup/magnific-popup.css" rel="stylesheet">
        <link href="/static/base/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">
        <link href="/static/base/vendors/animsition/css/animsition.min.css" rel="stylesheet">
        <link href="/static/base/css/style1.css" rel="stylesheet">
        <link href="/static/base/css/responsive.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="bg_color">
        <div class="layout animsition" style="animation-duration: 1000ms; opacity: 1;">
        	<div id="small-dialog" class="zoom-anim-dialog mfp-hide embed-responsive embed-responsive-16by9">                
                <iframe width="560" height="300" src="https://castor.streamthatvideo.co/VideoPlayer/videoinrai" style="position: absolute;top: 0;left: 0;bottom: 0;right: 0;width: 100%;height: 100%;" scrolling="no" frameborder="0" allow="autoplay" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
			</div>
            <header class="header_menu_area ">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="{% url 'generales:home' %}"><img src="/static/base/img/inrai/logo_40.png" width="150px" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="nav navbar-nav">
							<li class="dropdown submenu active">
								<a href="{% url 'generales:miempresa' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mi Empresa</a>
								<ul class="dropdown-menu">
									<li class="active"><a href="{% url 'generales:miempresa' %}">Nuestra Empresa</a></li>
									<li><a href="{% url 'generales:principios' %}">Principios & Fundamentos</a></li>
                                    <li><a href="{% url 'generales:himno' %}">Himno</a></li>
									<li><a href="home-fullpage.html">Fundaci&oacute;n</a></li>
								</ul>
							</li>
                            <li><a href="{% url 'generales:noticias' %}">Noticias</a></li>
							<li><a href="{% url 'generales:sedes' %}">Sedes</a></li>
							<li class="dropdown submenu">
								<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recursos Humanos</a>
								<ul class="dropdown-menu">
									<li><a href="{% url 'generales:bienestar' %}">Bienestar Social</a></li>
									<li><a href="{% url 'generales:ocupacional' %}">Salud Ocupacional</a></li>
									<li><a href="{% url 'generales:reglamento' %}">Reglamento Interno</a></li>
									<li><a href="{% url 'generales:org' %}">Organigrama</a></li>
                                    <li><a href="{% url 'generales:contacto' %}">Contacto</a></li>
								</ul>
							</li>
							<li><a href="{% url 'generales:sedes' %}">Cumplea&ntilde;eros</a></li>
                            <li><a href="contact.html">Gerencia</a></li>
							<li><a href="contact.html">El Muro</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="#">Eng</a></li>
						</ul>
					</div>
				</nav>
			</header>
			<header class="full_header dark_menu mobile_menu">
        		<div class="float-left">
        			<a class="logo" href="#"><img src="/static/base/img/inrai/logo_40.png" width="125px" alt=""><img src="/static/base/img/inrai/logo_40.png" width="125px" alt=""></a>
        			<a class="phone" href="tel:3689565656"><i class="lnr lnr-phone-handset"></i> (+070) 3689 56 56 56</a>
        		</div>
        		<div class="float-right">
        			<div class="bar_menu">
        				<i class="lnr lnr-menu"></i>
        			</div>
        		</div>
        	</header>
        	<div class="click-capture"></div>
			<div class="side_menu white_s_menu">
				<span class="close-menu lnr lnr-cross right-boxed"></span>
				<ul class="menu-list right-boxed">
					<li class="active">
						<a href="{% url 'generales:miempresa' %}">Inicio <i class="ion-chevron-down"></i></a>
						<ul class="list">
							<li><a href="{% url 'generales:miempresa' %}">Nuestra Empresa</a></li>
							<li><a href="{% url 'generales:principios' %}">Principios & Fundamentos</a></li>
                            <li><a href="{% url 'generales:himno' %}">Himno</a></li>
							<li><a href="home-fullpage.html">Fundaci&oacute;n</a></li>
						</ul>
					</li>
                    <li><a href="{% url 'generales:noticias' %}">Noticias</a></li>
					<li><a href="{% url 'generales:sedes' %}">Sedes</a></li>
					<li>
						<a href="#">Recursos Humanos <i class="ion-chevron-down"></i></a>
						<ul class="list">
							<li><a href="{% url 'generales:bienestar' %}">Bienestar Social</a></li>
							<li><a href="{% url 'generales:ocupacional' %}">Salud Ocupacional</a></li>
							<li><a href="{% url 'generales:reglamento' %}">Reglamento Interno</a></li>
							<li><a href="{% url 'generales:org' %}">Organigrama</a></li>
                            <li><a href="{% url 'generales:contacto' %}">Contacto</a></li>
						</ul>
					</li>
					<li><a href="{% url 'generales:sedes' %}">Cumplea&ntilde;eros</a></li>
					<li><a href="contact.html">Gerencia</a></li>
					<li><a href="contact.html">El Muro</a></li>
				</ul>
				<div class="menu-footer right-boxed">
					<div class="social-list">
						<a href="" class="icon ion-social-twitter"></a>
						<a href="" class="icon ion-social-facebook"></a>
						<a href="" class="icon ion-social-googleplus"></a>
					</div>
					<div class="copy"><p>©{{anor}} <a href="http://inrai.net/" target="_blank">INRAI</a>. Todos los derechos reservados.</p></div>
				</div>
			</div>
            {% block contenido %}Blank{% endblock contenido %}
            <footer class="footer_area">
                <div class="f_logo">
                    <img class="img-fluid" src="/static/base/img/inrai/logo-inrai-blanco-400px.png" width="150px" alt="">
                </div><br>
                <div class="footer_widgets row m0">
                    <aside class="f_widgets_item">
                        <div class="f_contact">
                            <div class="f_title">
                                <h3>contacto</h3>
                            </div>
                            <p>Kr 21 # 56-33, Bogot&aacute;, D. C., COLOMBIA</p>
                            <a href="mailto:administrador@sistemainri.net">hebel.borrero@sistemainrai.net  recursoshumanos@sistemainrai.net  administrador@sistemainrai.net  jimmy.miranda@sistemainrai.net</a>
                            <a href="tel:9123548073">(+57) 601-2100-321 / 601-2104-810</a>
                        </div>
                    </aside>
                    <aside class="f_widgets_item">
                        <div class="f_link">
                            <div class="f_title">
                                <h3>links</h3>
                            </div>
                            <ul class="list">
                                <li><a href="http://inrai.net" target="_blank">inrai.net</a></li>
                                <li><a href="http://elsonajero.com" target="_blank">elsonajero.com</a></li>
                                <li><a href="http://cristalinacundinamarca.com" target="_blank">cristalinacundinamarca.com</a></li>
                                <li><a href="http://hjdoblekhuila.com" target="_blank">hjdoblekhuila.com</a></li>
                                <li><a href="http://cristalinahuila.com" target="_blank">cristalinahuila.com</a></li>
                                <li><a href="http://cristalinacaqueta.com" target="_blank">cristalinacaqueta.com</a></li>
                                <li><a href="http://soylacaquetena.com" target="_blank">lacaquetena.net</a></li>
                                <li><a href="http://hjdoblekpitalito.com" target="_blank">hjdoblekpitalito.com</a></li>
                            </ul>
                        </div>
                    </aside>
                    <aside class="f_widgets_item">
                        <div class="f_link">
                            <div class="f_title">
                                <h3>Compa&ntilde;&iacute;a</h3>
                            </div>
                            <ul class="list">
                                <li><a href="#">Nosotros</a></li>
                                <li><a href="{% url 'generales:contacto' %}">Contacto</a></li>
                                <li><a href="#">Medio Ambiente</a></li>
                            </ul>
                        </div>
                    </aside>
                    <aside class="f_widgets_item">
                        <div class="f_link">
                            <div class="f_title">
                                <h3>centro de ayuda</h3>
                            </div>
                            <ul class="list">
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Terminos & Condiciones</a></li>
                                <li><a href="#">Pol&iacute;tica de Privacidad</a></li>
                                <li><a href="#">Ayuda</a></li>
                                <li><a href="#">Servicios</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="footer_copyright">
                    <div class="left_text">
                        <p>©{{anor}} <a href="http://inrai.net/" target="_blank">INRAI</a>. Todos los derechos reservados.</p>
                    </div>
                    <div class="middle_text">
                        <ul class="list">
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Tumblr</a></li>
                            <li><a href="#">Pinterest</a></li>
                        </ul>
                    </div>
                    <div class="right_text">
                        <ul class="list">
                            <li class="active"><a href="#">Eng</a></li>
                            <li><a href="#">Fra</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
            <div class="page_lines">
                <div class="container">
                    <div class="row m0">
                        <div class="col-lg-4">
                            <div class="line"></div>
                        </div>
                        <div class="col-lg-4">
                            <div class="line"></div>
                        </div>
                        <div class="col-lg-4">
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/static/base/js/jquery-3.3.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/base/js/popper.min.js"></script>
        <script src="/static/base/js/bootstrap.min.js"></script>
        <!-- Rev slider js -->
        <script src="/static/base/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="/static/base/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="/static/base/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="/static/base/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script src="/static/base/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="/static/base/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="/static/base/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="/static/base/vendors/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <!-- Extra plugin js -->
        <script src="/static/base/vendors/popup/jquery.magnific-popup.min.js"></script>
        <script src="/static/base/vendors/parallax/parallax.min.js"></script>
        <script src="/static/base/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/static/base/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="/static/base/vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="/static/base/vendors/pagepiling/jquery.pagepiling.min.js"></script>
        <script src="/static/base/vendors/animsition/js/animsition.min.js"></script>
        <script src="/static/base/js/smoothscroll.js"></script>
        <!-- Scroll plugin js -->
        <script src="/static/base/js/theme.js"></script>
        <!--  Plugin for Sweet Alert -->
        <script src="/static/base/plugins/js/sweetalert2.js"></script>

    </body>

</html>