
{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

<section class="contact_area2">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="left_contact_details">
                    <h1>Contacto</h1>
                    <h2><span>Bogot&aacute;, D. C. ,</span> Colombia</h2>
                    <p>Cra 21 # 56 - 33,<br /> Bogot&aacute;, Col</p>
                    <a href="tel:(601) 2104866">(+57) 210 48 66</a>
                    <a href="mailto:contact@interstudio.co">recursoshumanos@sistemainrai.net</a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="right_contact_form">
                    <h4>Ev&iacute;anos tu mensage</h4>
                    <form class="row contact_us_form " method="GET" action="{% url 'generales:enviar' %}">
                        {% csrf_token %}
                        <div class="form-group col-md-12">
                            <textarea class="form-control" name="msg" id="msg" rows="1" placeholder="Escribe aqu&iacute; tu mensage." required></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn order_s_btn " onclick="enviar()">Enviar <i class="ion-ios-play"></i></button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    
    function enviar() {
        var msg = $("#msg").val();
        var datos = {'msg':msg};
        $.get( "{% url 'generales:enviar' %}", datos, function( data ) {
            if (data.errors){
                swal({
                    title:data.errors,
                    showCancelButton: true,
                    showConfirmButton: false,
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: true
                }).catch(swal.noop);
            }
            else {
                
                swal({
                    title:"Su mensage ha sido enviado. Gracias por contactarnos.",
                    showCancelButton: false,
                    showConfirmButton: true,
                    confirmButtonClass: 'btn btn-success',
                    buttonsStyling: true
                }).catch(swal.noop);

            }
        } );
    }

</script>

{% endblock contenido %}