
{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

{% load humanize %}
<section class="breadcrumb_link">
    <div class="container" style="background-image: url('/static/base/img/elmuro.jpg')">
        <a href="{% url 'generales:home' %}">Mi Empresa</a>
        <a href="#">El muro</a>
        <div clss="col-lg-8 offset-lg-1" style="padding-top: 10px;">
            <img src="/static/base/img/tutorial.png" height="200px" alt="">
        </div>
    </div>
</section>

<section class="blog_sidebar_area" style="padding-top:15px;">
    <div class="container">
        <div class="row row_direction">
            <div class="col-lg-8 offset-lg-1">
                <div class="blog_side_inner">
                    {% for item in elmuro %}
                        <div class="blog_side_item">
                            <div class="media">
                                {% if item.foto|length > 0 %}
                                    <img src="{{item.foto.url}}" width="350px">
                                {% else %}
                                    <img src="/static/base/img/sin_datos.jpg" width="250px">
                                {% endif %}
                                <div class="media-body" style="padding-left: 10px;">
                                    <h5 class="card-title" style="color: black;">{{item.titulo}}</h5><span class="date" style="font-size: 10px"><i class="ion-calendar"></i> {{item.modificado}}</span>
                                    <p class="card-text">{{item.detalle|safe}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="l_widget search_wd">
                        <div class="l_wd_title">
                            <h1>El Muro</h1>
                        </div>
                        <form enctype="multipart/form-data" method="POST" class="post-form" action="">{% csrf_token %}
                            <div class="form-group col-md-8">
                                <label class="control-label" for="inputSuccess">T&iacute;tulo</label>
                                {{ form_com.titulo }}
                            </div>
                            <div class="form-group col-md-8">
                                <label class="control-label" for="inputSuccess">Comentario</label>
                                {{ form_com.detalle }}
                            </div>
                            <div class="form-group col-md-8">
                                <label class="control-label" for="inputSuccess">Foto</label>
                                {{ form_com.foto }}
                            </div>
                            <div fa-caret-right>
                                <button type="submit" class="save btn btn-default size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">Publicar</button>
                            </div>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}