
{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

    <section class="about_image">
        <img class="img-fluid" src="/static/base/img/inrai/miempresa-col.jpg"  alt="">
    </section>
    <section class="about_studio_area">
        <div class="container">
            <div class="ab_studio_text">
                <h6 class="s_title white">Misi&oacute;n</h6>
                <h5>{{emp.mision|safe}}</h5>
            </div>
            <div class="ab_studio_text">
                <h6 class="s_title white">Visi&oacute;n</h6>
                <h5>{{emp.vision|safe}}</h5>
            </div>
            <div class="ab_studio_text">
                <h6 class="s_title white">Objetivo General</h6>
                <h5>{{emp.objetivo|safe}}</h5>
            </div>
            <div class="ab_studio_text">
                <h6 class="s_title white">Nuestra Empresa</h6>
                <h5>{{emp.nuestra_empresa|safe}}</h5>
            </div>
        </div>
    </section>

{% endblock contenido %}