
{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

{% load humanize %}

    <section class="breadcrumb_link" style="padding-top:30px;">
        <div class="container" style="background-image: url('/static/base/img/news.jpg')">
            <a href="{% url 'generales:home' %}" style="color:white;">Mi Empresa</a>
            <a href="#">Noticias</a>
            <div clss="col-lg-8 offset-lg-1" style="padding-top: 10px;">
                <img src="/static/base/img/news.png" height="150px" alt="">
            </div>
        </div>
    </section>

    <section class="blog_sidebar_area" style="padding-top:15px;">
        <div class="container">
            <div class="row row_direction">
                <div class="col-lg-8 offset-lg-1">
                    <div class="blog_side_inner">
                        {% for item in noticias %}
                            <div class="blog_side_item">
                                <div class="media">
                                    <div class="d-flex">
                                        {% if item.imagen_destacado|length > 0 %}
                                            <img class="img-fluid" src="{{item.imagen_destacado.url}}" height="570px" alt="">
                                        {% else %}
                                            <img class="img-fluid" src="/static/base/img/blog/blog-side/blog-s-1.jpg" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="media-body">
                                        <a class="tag" href="#">{{item.sede.nombre_sede}}</a>
                                        <a href="#"><h4>{{item.titulo}}</h4></a>
                                        <a class="time" href="#">{{item.modificado.date}}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <nav aria-label="Page navigation example" class="pagination_inner">
                        <ul class="pagination">
                            <li>
                                {% if noticias.has_previous %}
                                    <a href="?search={{ search }}&page={{ noticias.previous_page_number }}">
                                        Ant.
                                    </a>
                                {% else %}
                                    <span>Ant.</span>
                                {% endif %}
                            </li>					  
                                {% for page_number in paginator1.page_range %}
                                    {% if page_number ==  noticias.number%}
                                        <li class="page-item active">
                                            <span >{{ page_number }}</span>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a href="?search={{ search }}&page={{ page_number }}" class="page-link">
                                                {{ page_number }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            <li>
                                {% if noticias.has_next %}
                                    <a href="?search={{ search }}&page={{ noticias.next_page_number }}">
                                        Sig.
                                    </a>
                                {% else %}
                                    <span>Sig.</span>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="l_widget search_wd">
                            <div class="l_wd_title">
                                <h3>Buscar</h3>
                            </div>
                            <div class="input-group">
                                <input type="text" id="id_buscar" class="form-control" placeholder="Ingrese palabra clave....." onchange="buscar_notas()">
                            </div>
                        </aside>
                        <aside class="l_widget categories_wd">
                            <div class="l_wd_title">
                                <h3>Sedes INRAI</h3>
                            </div>
                            <ul class="list">
                                <li><a href="#">Todo <span></span></a></li>
                                {% for item in sedes %}
                                    <li><a href="{% url 'generales:detalle_sede' item.id %}">{{item.nombre_sede}}<span></span></a></li>
                                {% endfor %}
                            </ul>
                        </aside>
                        <aside class="l_widget r_post_wd">
                            <div class="l_wd_title">
                                <h3>Noticias Recientes</h3>
                            </div>
                            {% for item in recientes %}
                                <div class="media">
                                    <div class="d-flex">
                                        {% if item.imagen_destacado|length > 0 %}
                                            <img class="img-fluid" src="{{item.imagen_destacado.url}}" height="55px" alt="">
                                        {% endif %}
                                    </div>
                                    <div class="media-body">
                                        <a href="#"><h4>{{item.titulo}}</h4></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </aside>
                        <!--<aside class="l_widget tags_wd">
                            <div class="l_wd_title">
                                <h3>Tags</h3>
                            </div>
                            <div class="tag_list">
                                <a href="#">Structure</a>
                                <a href="#">Envato</a>
                                <a href="#">Premium</a>
                                <a href="#">Clean</a>
                                <a href="#">WordPress</a>
                            </div>
                        </aside>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script>
        function buscar_notas() {
            var r = $("#id_buscar").val();
            var datos = {'buscar':r};
            $.get( "{% url 'generales:find_post' %}", datos, function( data ) {
                //console.log(data);
                if (data.errors){
                    swal({
                        title: data.errors,
                        showCancelButton: false,
                        showConfirmButton: true,
                        confirmButtonClass: 'btn btn-success',
                        buttonsStyling: false
                    }).catch(swal.noop);
                    $("#id_buscar").val('');
                    document.getElementById("id_buscar").focus();
                }
                else {
                
                }
    
            } );
        }
    </script>

{% endblock contenido %}
