
{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

    <section class="breadcrumb_link">
        <div class="container" style="background-image: url('/static/base/img/principios.jpg')">
            <a href="{% url 'generales:home' %}">Mi Empresa</a>
            <a href="#">Principios y fundamentos</a>
            <div clss="col-lg-8 offset-lg-1" style="padding-top: 10px;">
                <img src="/static/base/img/principios.png" height="200px" alt="">
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div><br>
                <div class="row justify-content-center">
                    <h6 class="s_title white">Principios y Fundamentos</h6>
                </div>
                <div class="row justify-content-center">
                    <h3>{{emp.principios|safe}}</h3>
                </div>
            </div>
        </div>
    </section>

{% endblock contenido %}