
{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

    <section class="about_image">
        <img class="img-fluid" src="/static/base/img/inrai/principios.jpg"  alt="">
    </section>
    <section>
        <div class="container">
            <div>
                <div class="row justify-content-center">
                    <br><h6 class="s_title white">Principios y Fundamentos</h6><br><br/>
                    <div><h5>{{emp.principios|safe}}</h5></div>
                </div>
            </div>
        </div>
    </section>

{% endblock contenido %}