
{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

{% load humanize %}

    <section class="breadcrumb_link">
        <div class="container">
            <a href="{% url 'generales:home' %}">Mi Empresa</a>
            <a href="#">Tutoriales</a>
        </div>
    </section>

    <section class="blog_sidebar_area">
        <div class="container">
            <div class="row row_direction">
                <div class="col-lg-8 offset-lg-1">
                    <div class="blog_side_inner" id="id_data">
                        {% if tutoriales %}
                            {% for item in tutoriales %}
                                <div class="blog_side_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <div class="slider_text_box">
                                                <div id="small-dialog1" class="zoom-anim-dialog mfp-hide embed-responsive embed-responsive-16by9">               
                                                    {% if item.urlvideo != None and item.urlvideo != '' %}
                                                        okk 111111111111111111
                                                        <iframe width="560" height="300" src="{{item.urlvideo.url}}" style="position: absolute;top: 0;left: 0;bottom: 0;right: 0;width: 100%;height: 100%;" scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                                                    {% else %}
                                                        okkk 222222222222222222222222222
                                                        <iframe width="560" height="300" src="{{item.archivo_video.url}}" style="position: absolute;top: 0;left: 0;bottom: 0;right: 0;width: 100%;height: 100%;" scrolling="no" autoplay="no" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                                                    {% endif %}
                                                </div>
                                                <div class="tp-caption video" 
                                                    data-x="['right']" data-hoffset="['0','0','15']"  
                                                    data-y="[middle']" data-voffset="[-100']"
                                                    data-textAlign="['center']"
                                                    data-fontsize="['100', '100','100','100']"
                                                    data-lineheight="['100','100', '100','100']"
                                                    data-height="none"
                                                    data-whitespace="nowrap"
                                                    data-transform_idle="o:1;"
                                                    data-transform_in="y:[-100%];x:0;z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power2.easeInOut;" 
                                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                                    data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                                    data-start="2000" 
                                                    data-splitin="none" 
                                                    data-splitout="none" 
                                                    data-responsive_offset="on" 
                                                    data-elementdelay="0.05"><a class="popup-with-move-anim" href="#small-dialog1"><img src="/static/base/img/icon/video-2.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <a class="tag" href="#">{{item.tipo.nombre}}</a>
                                            <a href="#"><h4>{{item.titulo}}</h4></a>
                                            <a class="time" href="#">{{item.modificado.date}}</a>
                                            <p>{{item.subtitulo}}</p>
                                            <p>File: {{item.archivo_video}}</p>
                                            <p>URL: {{item.urlvideo}}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <img src="/static/base/img/sin_datos.jpg" width="600px" alt="">
                        {% endif %}
                    </div>
                    <nav aria-label="Page navigation example" class="pagination_inner">
                        <ul class="pagination">
                            <li>
                                {% if tutoriales.has_previous %}
                                    <a href="?search={{ search }}&page={{ tutoriales.previous_page_number }}">
                                        Ant.
                                    </a>
                                {% else %}
                                    <span>Ant.</span>
                                {% endif %}
                            </li>					  
                                {% for page_number in paginator1.page_range %}
                                    {% if page_number ==  tutoriales.number%}
                                        <li class="page-item active">
                                            <span >{{ page_number }}</span>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a href="?search={{ search }}&page={{ page_number }}" class="page-link">
                                                {{ page_number }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            <li>
                                {% if tutoriales.has_next %}
                                    <a href="?search={{ search }}&page={{ tutoriales.next_page_number }}">
                                        Sig.
                                    </a>
                                {% else %}
                                    <span>Sig.</span>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="l_widget search_wd">
                            <div class="l_wd_title">
                                <h3>Buscar</h3>
                            </div>
                            <div class="input-group">
                                <input type="text" id="id_buscar" class="form-control" value='' placeholder="Ingrese palabra clave....." onchange="buscar_tutorial()">
                            </div>
                        </aside>
                        <aside class="l_widget categories_wd">
                            <div class="l_wd_title">
                                <h3>Temas</h3>
                            </div>
                            <ul class="list">
                                <li><a href="{% url 'generales:tutoriales' %}">Todo <span></span></a></li>
                                {% for item in tipos %}
                                    <li><a href="{% url 'generales:tipo_tutorial' item.id %}">{{item.nombre}}<span></span></a></li>
                                {% endfor %}
                            </ul>
                        </aside>

                        <!--<aside class="l_widget tags_wd">
                            <div class="l_wd_title">
                                <h3>Tags</h3>
                            </div>
                            <div class="tag_list">
                                <a href="#">Structure</a>
                                <a href="#">Envato</a>
                                <a href="#">Premium</a>
                                <a href="#">Clean</a>
                                <a href="#">WordPress</a>
                            </div>
                        </aside>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script>
        function buscar_tutorial() {
            var r = $("#id_buscar").val();
            var datos = {'buscar':r};
            $.get( "{% url 'generales:upd' %}", datos, function( data ) {
                if (data.errors){
                  swal({
                      title: data.errors,
                      showCancelButton: false,
                      confirmButtonClass: 'btn btn-success',
                      //cancelButtonClass: 'btn btn-danger',
                      buttonsStyling: false
                  }).catch(swal.noop);
                }
              else {
                var url = "{% url 'generales:updtuto' 123 %}";
                var id = data.buscar;
                document.location.href = url.replace('123', id);
              }
            } )
        }
    </script>

{% endblock contenido %}
