
{% extends 'base/base.html' %}

{% load static %}

{% block modal %}
<div class="modal fade bd-example-modal-lg" style="height:600px; " id="id-modalvideo1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="border: 0px; margin-top:105px;background: #e2e2e200;">
            <div class="modal-header">
                <h5 class="modal-title"><input type="text" style="width: 600px; color:white; background: rgba(0, 0, 0, 0); border: 0;" id="id-modal1-titulo" value="{{item.titulo}}" readonly></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <video id='id-modal1-video' controls width="100%">
                    <source src='' type='video/webm'>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>
    <div class="modal fade bd-example-modal-lg" style="height:600px; " id="id-modalvideo2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="border: 0px; margin-top:105px;background: #e2e2e200;">
                <div class="modal-header">
                    <h5 class="modal-title"><input type="text" style="width: 600px; color:white; background: rgba(0, 0, 0, 0); border: 0;" id="id-modal2-titulo" value="{{item.titulo}}" readonly></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <video id='id-modal2-video' controls width="100%">
                        <source src='' type='video/mp4'>
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
{% endblock modal %}

{% block contenido %}

    <section class="breadcrumb_link">
        <div class="container">
            <a href="{% url 'generales:home' %}">Mi Empresa</a>
            <a href="#">Tutoriales</a>
        </div>
    </section>

    <section class="blog_sidebar_area">
        <div class="container">
            <div class="row row_direction">
                <div class="col-lg-8 offset-lg-1" style="background: rgba(255, 217, 150, 0.561); border: 5px;">
                    <div class="blog_side_inner">
                        {% if tutoriales %}
                            {% for item in tutoriales %}
                                <div class="blog_side_item">
                                    <div class="media">
                                        {% if item.urlvideo %}
                                            <a href="javascript:modal_open1({{ forloop.counter0 }})">
                                                <img src="/static/base/img/icon/video-2.png" alt="">
                                            </a>
                                            <div style="display: none">
                                                <input type="text" id="id-titulo-{{ forloop.counter0 }}" value="{{item.titulo}}" readonly>
                                                <input type="text" id="id-video-{{ forloop.counter0 }}" value="" readonly>
                                                <input type="text" id="id-url-{{ forloop.counter0 }}" value="{{item.urlvideo|safe}}" readonly>
                                            </div>
                                        {% elif item.archivo_video %}
                                            <a href="javascript:modal_open2({{ forloop.counter0 }})">
                                                <img src="/static/base/img/icon/video-2.png" alt="">
                                            </a>
                                            <div style="display: none">
                                                <input type="text" id="id-titulo-{{ forloop.counter0 }}" value="{{item.titulo}}" readonly>
                                                <input type="text" id="id-video-{{ forloop.counter0 }}" value="{{item.archivo_video.url}}" readonly>
                                                <input type="text" id="id-url-{{ forloop.counter0 }}" value="" readonly>
                                            </div>
                                        {% else %}
                                            <div class="col-4"></div>
                                            <div class="col-4">
                                                <img src="/static/base/img/sin_datos.jpg" height="300px" alt="">
                                            </div>
                                            <div class="col-4"></div>
                                        {% endif %}
                                        <div class="media-body" style="padding-left: 15px;">
                                            <a class="tag" href="#">{{item.tipo.nombre}}</a>
                                            <a href="#"><h4>{{item.titulo}}</h4></a>
                                            <a class="time" href="#">{{item.modificado.date}}</a>
                                            <p>{{item.subtitulo}}</p>
                                            <p id="id-archivo-{{ forloop.counter0 }}">{{item.archivo_video}}</p>
                                            <p id="id-url-{{ forloop.counter0 }}">{{item.urlvideo}}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <img src="/static/base/img/sin_datos.jpg" width="600px" alt="">
                        {% endif %}
                    </div>
                    <nav aria-label="Page navigation example" class="pagination_inner">
                        <ul class="pagination">
                            <li>
                                {% if tutoriales.has_previous %}
                                    <a href="?search={{ search }}&page={{ tutoriales.previous_page_number }}">
                                        Ant.
                                    </a>
                                {% else %}
                                    <span>Ant.</span>
                                {% endif %}
                            </li>					  
                                {% for page_number in paginator1.page_range %}
                                    {% if page_number ==  tutoriales.number%}
                                        <li class="page-item active">
                                            <span >{{ page_number }}</span>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a href="?search={{ search }}&page={{ page_number }}" class="page-link">
                                                {{ page_number }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            <li>
                                {% if tutoriales.has_next %}
                                    <a href="?search={{ search }}&page={{ tutoriales.next_page_number }}">
                                        Sig.
                                    </a>
                                {% else %}
                                    <span>Sig.</span>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="l_widget search_wd">
                            <div class="l_wd_title">
                                <h3>Buscar</h3>
                            </div>
                            <div class="input-group">
                                <input type="text" id="id_buscar" class="form-control" value='' placeholder="Ingrese palabra clave....." onchange="buscar_tutorial()">
                            </div>
                        </aside>
                        <aside class="l_widget categories_wd">
                            <div class="l_wd_title">
                                <h3>Temas</h3>
                            </div>
                            <ul class="list">
                                <li><a href="{% url 'generales:tutoriales' %}">Todo <span></span></a></li>
                                {% for item in tipos %}
                                    <li><a href="{% url 'generales:tipo_tutorial' item.id %}">{{item.nombre}}<span></span></a></li>
                                {% endfor %}
                            </ul>
                        </aside>

                        <!--<aside class="l_widget tags_wd">
                            <div class="l_wd_title">
                                <h3>Tags</h3>
                            </div>
                            <div class="tag_list">
                                <a href="#">Structure</a>
                                <a href="#">Envato</a>
                                <a href="#">Premium</a>
                                <a href="#">Clean</a>
                                <a href="#">WordPress</a>
                            </div>
                        </aside>-->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        function modal_open1(item) {
            var r = $("#id-titulo-"+String(item)).val();
            var u = $("#id-url-"+String(item)).val();
            $('#id-modal1-titulo').val(r);
            $("#id-modal1-video").html('<source src='+u+'></source>' );
            $('#id-modalvideo1').modal('show')
        }
        function modal_open2(item) {
            var r = $("#id-titulo-"+String(item)).val();
            var v = $("#id-video-"+String(item)).val();
            $('#id-modal2-titulo').val(r);
            $("#id-modal2-video").html('<source src='+v+'></source>' );
            $('#id-modalvideo2').modal('show')
        }

        function buscar_tutorial() {
            var r = $("#id_buscar").val();
            var datos = {'buscar':r};
            $.get( "{% url 'generales:upd' %}", datos, function( data ) {
                if (data.errors){
                  swal({
                      title: data.errors,
                      showCancelButton: false,
                      confirmButtonClass: 'btn btn-success',
                      //cancelButtonClass: 'btn btn-danger',
                      buttonsStyling: false
                  }).catch(swal.noop);
                }
              else {
                var url = "{% url 'generales:updtuto' 123 %}";
                var id = data.buscar;
                document.location.href = url.replace('123', id);
              }
            } )
        }
    </script>

{% endblock contenido %}


